<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
  <h2>Contact Us</h2>
  <div>
    <label for="firstname">First Name: </label>
    <input
      type="text"
      id="firstname"
      name="firstName"
      [(ngModel)]="model.firstName"
      required
    />
  </div>
  <div>
    <label for="lastName">Last Name: </label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      [(ngModel)]="model.lastName"
      required
    />
  </div>
  <div>
    <label for="email">Email: </label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="model.email"
      required
    />
  </div>
  <div>
    <label for="text">Description: </label>
    <textarea
      id="firstname"
      name="text"
      rows="5"
      cols="33"
      [(ngModel)]="model.text"
    ></textarea>
  </div>
  <button type="submit" [disabled]="!contactForm.form.valid">Send</button>
</form>
